button {
    padding: 0.625em 0.938em;
    background-color: #FF7F00;
    color: white;
    border-radius: 5px;
    transition: color 100ms, text-decoration 100ms, font-weight 100ms, background-color 100ms;
}

button:hover {
    background-color: #ffce9e;
    color: black;
}

.basket-button {
    width: 100%;
}

svg {
    cursor: pointer;
    transition: color 100ms, text-decoration 100ms, font-weight 100ms;
}

svg:hover {
    font-weight: bold;
}

.center-close-basket-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}