.text-center {
    text-align: center;
}

table {
    padding-inline: 1rem;
    width: 100%;
}

tbody {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

td {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.basket-padding {
    padding-inline: 1rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}

.sticky {
    position: sticky;
    top: 15px;
    max-height: 100dvh;
    overflow-y: auto;
}

.basket-button-container {
    position: sticky;
    bottom: 0;
}

