@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

body, html {
    font-family: "Roboto", serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.d_none {
    display: none;
}

.responsive-font-size {
    font-size: 1rem;
    color: grey;
}

.responsive-font-size:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #FF7F00;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #804000;
}

::-webkit-scrollbar-thumb {
    background: #FF7F00;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff9b36;
}

.container {
    padding-inline: 1.5rem;
    margin-inline: auto;
    width: 100%;
    max-width: 1320px;
}

header {
    background-color: #FF7F00;
    padding-block: 1rem;
}

a {
    transition: color 100ms, text-decoration 100ms, font-weight 100ms;
}

.transitions {
    transition: background-color 100ms;
}

header img {
    width: 10%;
}

.header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main { 
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

section {
    width: calc(100% - 300px);
}

aside {
    position: relative;
    width: 300px;
    flex-grow: 1;
    border: 1px solid black;
    border-top: none;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.pb-3 {
    padding-bottom: 1rem;
}

footer {
    background-color: #FF7F00;
    padding-block: 1rem;
    color: white;
}

footer img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.footer-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
    font-weight: bold;
}

@media (max-width: 1400px) {
    .container {
      max-width: 1140px;
    }
  }

@media (max-width: 1200px) {
    .container {
      max-width: 960px;
    }
  }

@media (max-width: 992px) {
    .container {
      max-width: 720px;
    }

    .hide-aside {
        display: none;
    }

    section {
        width: 100%;
    }

    main {
        justify-content: center;
    }

    .food-class-nav {
        border-right: 1px solid black;
    }

    .menu {
        border-right: 1px solid black;
    }

    header img {
        width: 15%;
    }

    .basket-button-container {
        display: block;
    }
  }
  
@media (max-width: 768px) {
    .container {
      max-width: 540px;
    }

    .pizza {
        width: 100px;
        height: 100px;
        bottom: -50px;
    }

    header img {
        width: 20%;
    }
  }

@media (max-width: 576px) {
    .container {
      max-width: 100%;
    }

    .center-img {
        margin-bottom: 50px;
    }

    .responsive-font-size {
        font-size: 0.8rem;
    }

    .food-class-nav {
        justify-content: center;
    }

    header img {
        width: 30%;
    }
  }
